<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyectosig">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ForgotPasswordActivity"></activity>
        <activity android:name=".view.conductor.MapConductorServiceActivity" />
        <activity android:name=".view.cliente.MapClientServiceActivity" />

        <receiver
            android:name=".receivers.AceptReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receivers.CancelReceiver"
            android:enabled="true" />

        <service android:name=".services.MyFirebaseMessagingClient">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.cliente.RequestConductorActivity" />
        <activity
            android:name=".view.cliente.DetailRequestActivity"
            android:parentActivityName=".view.cliente.MapClienteActivity" />
        <activity android:name=".view.conductor.MapConductorActivity" />
        <activity android:name=".view.cliente.MapClienteActivity" />
        <activity
            android:name=".view.conductor.RegisterConductorActivity"
            android:parentActivityName=".view.SelectOptionAuthActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:parentActivityName=".view.SelectOptionAuthActivity" />
        <activity
            android:name=".view.cliente.RegisterActivity"
            android:parentActivityName=".view.SelectOptionAuthActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>